@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);

body,
html,
div.board,
div#react-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.noteContainer {
  margin:15%;
  height: 100%;
  width: 100%;

}

body {
  margin: 0;
  padding: 0;
}

div.board {
  width: 100%;
  background: white;
}

div.note {
  /*
  min-height: 300px;
  width: 300px;
  */
  margin: 2px 0;
  position: absolute;
  cursor: -webkit-grab;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2); 
  overflow: hidden;
}

div.note:active {
  cursor: -webkit-grabbing;
}

div.note p {
  margin: 0;
  font-size: 22px;
  padding: 5px;
  font-family: "Shadows Into Light", Arial;  
}

div.note:hover > span {
  opacity: 1;
}

div .note > span {
  /*background-color: white !important;*/
  opacity: 0;
  transition: opacity .25s linear;
}




div.note button {
  margin: 4px;
}


.textInput {
  height: 100%;
  width: 100%;
  font-size: 22px;
  background: rgba(255, 255, 255, .5);
  font-family: "Shadows Into Light", Arial;
}


/*
#clearBtn {
  position: absolute;
  top: 80px;
  right: 20px;
  font-size: 1.5em;
}

#addBtn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.5em;
}
*/

.lblBtn {
  border-radius: 100%;
  border: solid gray 1  px;
  width: 35px;
  height: 35px;
}

.btn {
  cursor: pointer;
}

#red {
  background-color: #FF8A80;
}

#yellow {
  background-color: #FFEE58;
}
  
#green {
  background-color: #00E676;
}