/*
body,
html,
div.board,
div#react-container {
  height: 100%;
  width: 100%;
  overflow: auto;
}

*/
.noteContainer {
  margin-top:2%;
  /*
  height: 100%;
  width: 100%;
  */
}

body {
  margin: 0;
  padding: 0;
}

div.board {
  /*width: 100%;*/
  background: white;
}

.card-body {
  overflow-y: auto;
}


div.note {
  margin-bottom: 30px;
  /*position: absolute;*/
  /*cursor: -webkit-grab;*/
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2); 
  overflow: hidden;
}

/*note display for responsive devices*/
@media (max-width: 576px) {
  div.note {
    max-width: 300px;
    margin: auto;
    margin-bottom: 30px;
  }
}

/*
div.note:active {
  cursor: -webkit-grabbing;
  z-index: 1;
}
*/

div.note p {
  margin: 0;
  font-size: 16px;
  padding: 5px;
  font-family: 'Raleway', sans-serif; 
}

div .card-body > textarea {
  width: 100%;
  resize: none;
  background-color: rgba(255,255,255,0.1) !important;
  overflow: auto;
  outline: none;
  border: none;

  margin: 0;
  font-size: 16px;
  padding: 5px;
  font-family: 'Raleway', sans-serif; 

}




@media (max-width: 767px) {
  div .note > span {
    opacity: 1;
  }
}


@media (min-width: 768px) {
  div .note > span {
    /*background-color: white !important;*/
    opacity: 0;
    transition: opacity .25s linear;
  }

  div.note:hover > span {
    opacity: 1;
  }
}


div.note button {
  margin: 4px;
}

.lblBtn {
  border-radius: 100%;
  border: solid gray 1px;
  width: 35px;
  height: 35px;
}

.btn {
  cursor: pointer;
}

#red {
  background-color: #FF8A80;
}

#yellow {
  background-color: #FFEE58;
}
  
#green {
  background-color: #00E676;
}