@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);

/*
body,
html,
div.board,
div#react-container {
  height: 100%;
  width: 100%;
  overflow: auto;
}

*/
.noteContainer {
  margin-top:2%;
  margin-bottom:2%;
  /*
  height: 100%;
  width: 100%;
  */
}


body {
  margin: 0;
  padding: 0;
}

div.board {
  width: 100%;
  background: white;
}

.card-body {
  overflow-y: auto;
}

.row-m-t {
  margin-top: 10px;
}


div.note {
  /*margin: 0;*/
  /*position: absolute;*/
  cursor: -webkit-grab;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2); 
  overflow: hidden;
}

div.note:active {
  cursor: -webkit-grabbing;
  /*z-index: 1;*/
}

div.note p {
  margin: 0;
  font-size: 22px;
  padding: 5px;
  /*font-family: "Shadows Into Light", Arial; */ 
}

div .card-body > textarea {
  width: 100%;
  resize: none;
  background-color: rgba(0,0,0,0);
  overflow: auto;
  outline: none;
  border: none;

  margin: 0;
  font-size: 22px;
  padding: 5px;s
  /*font-family: "Shadows Into Light", Arial; */ 

}

div.note:hover > span {
  opacity: 1;
}

div .note > span {
  /*background-color: white !important;*/
  opacity: 0;
  transition: opacity .25s linear;
}


div.note button {
  margin: 4px;
}

.lblBtn {
  border-radius: 100%;
  border: solid gray 1px;
  width: 35px;
  height: 35px;
}

.btn {
  cursor: pointer;
}

#red {
  background-color: #FF8A80;
}

#yellow {
  background-color: #FFEE58;
}
  
#green {
  background-color: #00E676;
}